---
layout: default
---
<style>
  .topnav {
    overflow: hidden;
    padding: 30px;
    width: 75%
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
  }

  .highlight-link{
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    font-weight:400;
    text-decoration:none;display:inline-block;padding:2px 3px;
    text-decoration:none;
    -webkit-box-shadow:inset 0 -3px 0 #007bff;
    box-shadow:inset 0 -3px 0 #007bff}.intro__contact .highlight-link:hover{-webkit-box-shadow:inset 0 -33px 0 0 #007bff;
    box-shadow:inset 0 -33px 0 0 #007bff;
    color:#fff}.skills .skillz{display:-webkit-box;display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between}
</style>


<div id="site">
  <div class="topnav">
    <a href="#intro" class="active highlight-link">Intro</a>
    <a href="#background" class="active highlight-link">Background</a>
    <a href="#education" class="active highlight-link">Education</a>
    <a href="#experience" class="active highlight-link">Experience</a>
    <a href="#leadership" class="active highlight-link">Leadership</a>
    <a href="#featured-projects" class="active highlight-link">Featured Projects</a>
    <a href="#other-projects" class="active highlight-link">Other Projects</a>
    <a href="#skills" class="active highlight-link">Skills</a>
    {% include switch.html %}
    <!-- <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a> -->
  </div>
  {% include intro.html %}
  {% include background.html %}
  {% include education.html %}
  {% include experience.html %}
  {% include leadership.html %}
  {% include featured-projects.html %}
  {% include other-projects.html %}
  {% include skills.html %}
  {% include footer.html %}
  {% include top-button.html %}
</div>
