---
layout: default
---
<style>
    .topnav {
      overflow: hidden;
      padding: 30px;
      width: 80%
    }
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      font-size: 15px;
    }
      .job__company{
        font-weight:700;
      }
  </style>
<div id="site">
    <div class="topnav">
      <a href="./index.html#intro" class="active job__company">Intro</a>
      <a href="./index.html#background" class="active job__company">Background</a>
      <a href="./index.html#education" class="active job__company">Education</a>
      <a href="./index.html#experience" class="active job__company">Experience</a>
      <a href="./index.html#leadership" class="active job__company">Leadership</a>
      <a href="./index.html#featured-projects" class="active job__company">Featured Projects</a>
      <a href="./index.html#other-projects" class="active job__company">Project Descriptions</a>
      <a href="./index.html#skills" class="active job__company">Skills</a>
      <a href="./unfiltered.html" class="active job__company">#Unfiltered</a>
      {% include switch.html %}
    </div>
    {% include unfiltered_intro.html %}
    {% include food.html %}
    {% include reflections.html %}
  </div>
      


    