<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently an undergraduate student at Harvard College double concentrating in <a class="underline-link" href="https://seas.harvard.edu/computer-science" target="_blank">Computer Science</a> and <a class="underline-link" href="https://economics.harvard.edu/" target="_blank">Economics</a> with a <a class="underline-link" href="https://ealc.fas.harvard.edu/chinese" target="_blank">Citation in Chinese</a>. My interests largely concentrate within the product development pipeline whether its challenging my own assumptions on user criteriums, determining scalable solutions for products in some of the most competitive markets, or re-evaluating launch prospects for an upcoming feature. <strong>I'm driven by ownership in redefining technological products that are user-obsessed, creative and contemporary, scalable, as well as sustainable.</strong>
    </p>

    <p>
      I have experience in user-research and user-recruitment, product strategy and roadmapping, product management, project management, UI/UX design, frontend, backend, and fullstack development. Some of my other interests include participating in pedagogy at Harvard, whistling the entire Taylor Swift Speak Now album, and surfing or skateboarding!  
    </p>
    {% include employment-status.html %}
  </div>
</section>
