<section class="section experience" id="experience">
  <style>
    li::before{
        content: "↠";}
  </style>
  <div class="section__title">Professional Experience</div>
  <div class="section__content">
    <div class="jo  bs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a style = "color: #007bff; font-size: 4; font-weight: bold;" href="{{job.url}}" target="_blank">{{job.company}}</a>
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__position"><strong> {{job.position}} </strong></div>
        <div>
          <ul>
          {% for item in job.description %}
          <li style="padding-bottom: 5px; padding-left: 10px">{{item.title}}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
