<section class="section experience">
  <style>
    ul { list-style-type: circle; }
  </style>
  <div class="section__title">Professional Experience</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <a href="{{job.url}}" target="_blank">{{job.company}}</a>
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__position">{{job.position}}</div>
        <div>
          <ul>
          {% for item in job.description %}
          <li>{{item.title}}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
