<section class="section featured-projects" id="featured-projects">
  <div class="section__title">Featured Project Examples</div>
  <div class="section__content">

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://2f1d-34-168-144-133.ngrok-free.app/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/diffusion/model.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://59f2-34-168-25-84.ngrok-free.app/" target="_blank">gen ai image2image reconstruction</a>
        </div>
        <p>A clean UI showcasing <strong>3 trainable architecture models of image to image Generative AI</strong>. Input a media url to generate an editable prompt to condition new image generation! </p>
      </figcaption>
    </div>
    
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://www.figma.com/file/BF7ZWUp55qfBlyFvk4u3kg/USDA-Hi-Fidelity-%5BEXTERNAL%5D?type=design&node-id=102%3A44708&mode=design&t=289XTQrRZm9LebGm-1" target="_blank">
          <img src="{{site.baseurl}}/img/featured/usda/usda.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.figma.com/file/BF7ZWUp55qfBlyFvk4u3kg/USDA-Hi-Fidelity-%5BEXTERNAL%5D?type=design&node-id=102%3A44708&mode=design&t=289XTQrRZm9LebGm-1" target="_blank">usda namp 2.0</a>
        </div>
        <p>A redesign of United State's Department of Agriculture's program management software NAMP featuring a more <strong>intuitive and hierarchically-reasoned workflow for the platform's thousands of users. </strong>. 
        </p>
      </figcaption>
    </div>

  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://www.figma.com/file/4d3miwx5UlLstHKeEzfShz/%5BEXTERNAL-USE%5D-Hamilton-Families-%3C%3E-T4SG-Onboarding-Platform?type=design&node-id=1%3A4&mode=design&t=49YRryRzzzGNbFy3-1" target="_blank">
          <img src="{{site.baseurl}}/img/featured/hamfam/hamfam.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.figma.com/file/4d3miwx5UlLstHKeEzfShz/%5BEXTERNAL-USE%5D-Hamilton-Families-%3C%3E-T4SG-Onboarding-Platform?type=design&node-id=1%3A4&mode=design&t=49YRryRzzzGNbFy3-1" target="_blank">onboarding @ hamilton families</a>
        </div>
        <p>An interactive onboarding website for Hamilton Families, San Francisco's second largest homeless shelter, featuring <strong>inclusive and accessible design</strong> 
          for employees of all educational and technological backgrounds. 
        </p>
      </figcaption>
    </div>
</section>
