<section class="section featured-projects">
  <div class="section__title">Featured Project Examples</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://www.figma.com/file/BF7ZWUp55qfBlyFvk4u3kg/USDA-Hi-Fidelity-%5BEXTERNAL%5D?type=design&node-id=102%3A44708&mode=design&t=289XTQrRZm9LebGm-1" target="_blank">
          <img src="{{site.baseurl}}/img/featured/usda/usda.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.figma.com/file/BF7ZWUp55qfBlyFvk4u3kg/USDA-Hi-Fidelity-%5BEXTERNAL%5D?type=design&node-id=102%3A44708&mode=design&t=289XTQrRZm9LebGm-1" target="_blank">program management @ usda</a>
        </div>
        <p>NAMP</p>
      </figcaption>
    </div>

  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://www.figma.com/file/4d3miwx5UlLstHKeEzfShz/%5BEXTERNAL-USE%5D-Hamilton-Families-%3C%3E-T4SG-Onboarding-Platform?type=design&node-id=1%3A4&mode=design&t=49YRryRzzzGNbFy3-1" target="_blank">
          <img src="{{site.baseurl}}/img/featured/hamfam/hamfam.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.figma.com/file/4d3miwx5UlLstHKeEzfShz/%5BEXTERNAL-USE%5D-Hamilton-Families-%3C%3E-T4SG-Onboarding-Platform?type=design&node-id=1%3A4&mode=design&t=49YRryRzzzGNbFy3-1" target="_blank">onboarding @ hamilton families</a>
        </div>
        <p>TEMP</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://generativeaitiles.streamlit.app/" target="_blank">
          <figure class="project__pic">
            <a href="https://generativeaitiles.streamlit.app/" target="_blank">
              <img src="{{site.baseurl}}/img/featured/diffusion/home.png" alt="">
            </a>
          </figure>
          <figure class="project__pic">
            <img src="{{site.baseurl}}/img/featured/diffusion/model.png" alt="">
          </figure>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://generativeaitiles.streamlit.app/" target="_blank">Generative AI Image to Image Model Reconstruction</a>
        </div>
        <p>BLEH</p>
      </figcaption>
    </div>
</section>
