  <section class="section experience">
    <div class="section__title">ChenEatsFood</div>
    <style>
      li::before{
          content: "";}
    </style>
    <div class="section__content">
        <section class="container">
            <div class="column">
              <h3 class="intro__contact">
                <span>Ayo! Check out @cheneatsfood on Instagram </span>
                <span class="emoji pointer"></span>
                <span>
                  <a href="https://www.instagram.com/cheneatsfood/" target="_blank" class="highlight-link">@cheneatsfood</a>
                </span>
              </h3>
            </div>
        
            <div class="column">
              <img src="{{site.baseurl}}/headshot.png" alt="" class="image--cover"/>
            </div>
          </section>
    </div>
  </section>
  