<header class="intro">
  <h1 class="intro__hello">Hello! TEST
    <span class="emoji wave-hand animated"></span>
    <span class="emoji wail"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Nicole Chen</span>, a user-centric product engineer and student driven by a humility in learning from others balanced by a confidence in her own ideals.
    <span class="emoji student"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Let's Connect </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:nicole_chen@college.harvard.edu" target="_blank" class="highlight-link">nicole_chen@college.harvard.edu</a>
    </span>
  </h3>

  <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
</header>
