<section class="section experience">
    <style>
        li::before{
            content: "👉";}
    </style>
    <div class="section__title">Leadership and Activities</div>
    <div class="section__content">
      <div class="jobs">
        {% for activity in site.data.leadership %}
        <div class="job">
          <div class="time-place">
            <div class="job__company">
              <a href="{{activity.url}}" target="_blank">{{activity.company}}</a>
            </div>
            {% for position in activity.position %}
              <div class="job__time">{{position.time}}</div>
              </div>
              <div class="job__position">{{position.description}}</div>
              <div>
              <ul>
                  {% for item in position.description %}
                  <li>{{item.title}}</li>
                  {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  