<section class="section experience">
  <style>
    li::before{
        content: "👉";}
    .blue{
      color:#007bff
    }
  </style>
  <div class="section__title">Leadership and Activities</div>
  <div class="section__content">
    <div class="jo  bs">
      {% for job in site.data.leadership %}
      <div class="job">
        <div class="time-place">
          <div class="job__company blue">
            <a style = "color: #007bff;" href="{{job.url}}" target="_blank">{{job.company}}</a>
          </div>
          <div class="job__time">{{job.time}}</div>
          </div>
          <div>
            {% for pos in job.role %}
            <div class="job__position"><strong> {{pos.position}} </strong></div>
            <div>
              <ul>
              {% for item in pos.description %}
              <li>{{item.title}}</li>
              {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
