<section class="section experience">
    <style>
        ul {list-style-type: circle; 
            padding-left: 15em;}
        li::before{
            content: "👉";}
    </style>
    <div class="section__title">Leadership and Activities</div>
    <div class="section__content">
      <div class="jobs">
        {% for activity in site.data.leadership %}
        <div class="job">
          <div class="time-place">
            <div class="job__company">
              <a href="{{activity.url}}" target="_blank">{{activity.company}}</a>
            </div>
            <div class="job__time">{{activity.time}}</div>
          </div>
          <div class="job__position">{{activity.position}}</div>
          <div>
            <ul>
                {% for item in activity.description %}
                <li>{{item.title}}</li>
                {% endfor %}
                </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  